<%= form_for(@library) do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% @library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Název" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :code, "Kód" %><br>
    <%= f.text_field :code, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div> 
  <div class="actions">
    <%= f.submit "Potvrdit", class: "btn-primary rk-btn" %>
  </div>
<% end %>