<%= form_for @library, html: { multipart: true } do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h4>

      <ul>
      <% @library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Název" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name_en, "Anglický název" %><br>
    <%= f.text_field :name_en, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :web, "Web knihovny" %><br>
    <%= f.text_field :web, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sigla, "Sigla " %><br>
    <%= f.text_field :sigla, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :code, "Identifikátor Kraméria" %><br>
    <%= f.text_field :code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :url, "URL - Kramerius" %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :new_client_url, "URL - Klient" %><br>
    <%= f.text_field :new_client_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :oai_provider, "OAI Provider" %><br>
    <%= f.text_field :oai_provider, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :url, "Logo" %><br>
    <%= f.file_field :logo, class: 'form-control' %>
    <% if f.object.logo? %>
      <%= image_tag(f.object.logo.url(:thumb), size: "50x50") %><br/>
      <em>Současné logo</em>
    <% end %>
  </div>



  <h3 style="margin-top:40px; margin-bottom:20px;">Adresa Knihovny</h3>

  <div class="form-group">
    <%= f.label :street, "Ulice" %><br>
    <%= f.text_field :street, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city, "Město" %><br>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zip, "PSČ" %><br>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :longitude, "Zeměpisná délka" %><br>
    <%= f.number_field :longitude, step: '0.000000001', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :latitude, "Zeměpisná šířka" %><br>
    <%= f.number_field :latitude, step: '0.000000001', class: 'form-control' %>
  </div>



  <h3 style="margin-top:40px; margin-bottom:20px;">Přístupnost na klientech</h3>

  <div class="form-group">
    <div class="field">
      <%= f.label :android, "Android" %><br>
      <%= f.select :android, [["No", 0], ["Ready", 1], ["Yes", 2]], {}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :ios, "iOS" %><br>
      <%= f.select :ios, [["No", 0], ["Ready", 1], ["Yes", 2]], {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :alt_client_universal, "www.digitalniknihovna.cz" %><br>
      <%= f.select :alt_client_universal, [["No", false], ["Yes", true]], {}, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Potvrdit", class: "btn-primary rk-btn" %>
  </div>
<% end %>
