<%= form_for(@library) do |f| %>
  <% if @library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% @library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Název" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :code, "Kód" %><br>
    <%= f.text_field :code, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :url, "URL" %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :android, "Androd" %><br>  
      <%= f.select :android, [["No", 0], ["Yes", 1], ["Ready", 2]], {}, class: 'form-control' %>  
    </div>
  </div>
  <div class="form-group">
    <div class="field">
      <%= f.label :ios, "iOS" %><br>  
      <%= f.select :ios, [["No", 0], ["Yes", 1], ["Ready", 2]], {}, class: 'form-control' %>  
    </div>
  </div>
  <div class="field">
    <%= f.label :k5_client_url, "K5 klient URL" %><br>
    <%= f.text_field :k5_client_url, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :alt_client_url, "Alternativní klient URL" %><br>
    <%= f.text_field :alt_client_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :k4_client, "K4 klient" %><br>  
      <%= f.select :k4_client, [["No", false], ["Yes", true]], {}, class: 'form-control' %>  
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :alt_client_universal, "Alternativní klient (na http://janrychtar.cz/kramerius/)" %><br>  
      <%= f.select :alt_client_universal, [["No", false], ["Yes", true]], {}, class: 'form-control' %>  
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Potvrdit", class: "btn-primary rk-btn" %>
  </div>
<% end %>
