<% provide(:title, @library.name) %>

<div class="container rk-history">

  <h2>Průběh digitalizace</h2>
  <h3><%= @library.name %></h3  >

<table style="min-width:1100px;">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Všechny dokumenty</th>
			<th>Veřejné dokumenty</th>
			<th>Všechny stránky</th>
			<th>Veřejné stránky</th>
			<th>Verze Krameria</th>

    </tr>
  </thead>

  <tbody>
    <% @library.records.order(date: :desc).each do |record| %>
      <tr class='<%= cycle("odd", "even") %>'>
				<td>
          <%= record.date.strftime("%d.%m.%Y")  %>
        </td>
				 <td>
          <%= number_with_delimiter(record.documents_all, delimiter: " ") %>
					<% if record.inc_documents_all < 0 %>
						<span style="color:#aa3333;"><%= record.inc_documents_all %></span>
					<% end %>
					<% if record.inc_documents_all > 0 %>
						<span style="color:#33aa33;">+<%= record.inc_documents_all %></span>
					<% end %>
        </td>
				<td>
					<%= number_with_delimiter(record.documents_public, delimiter: " ") %>
					<% if record.inc_documents_public < 0 %>
						<span style="color:#aa3333;"><%= record.inc_documents_public %></span>
					<% end %>
					<% if record.inc_documents_public > 0 %>
						<span style="color:#33aa33;">+<%= record.inc_documents_public %></span>
					<% end %>
				</td>
				<td>
					<%= number_with_delimiter(record.pages_all, delimiter: " ") %>
					<% if record.inc_pages_all < 0 %>
						<span style="color:#aa3333;"><%= record.inc_pages_all %></span>
					<% end %>
					<% if record.inc_pages_all > 0 %>
						<span style="color:#33aa33;">+<%= record.inc_pages_all %></span>
					<% end %>
				</td>
				<td>
					<%= number_with_delimiter(record.pages_public, delimiter: " ") %>
					<% if record.inc_pages_public < 0 %>
						<span style="color:#aa3333;"><%= record.inc_pages_public %></span>
					<% end %>
					<% if record.inc_pages_public > 0 %>
						<span style="color:#33aa33;">+<%= record.inc_pages_public %></span>
					<% end %>
				</td>
				<td>
					<%= record.version %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
