<div class="rk-list">

<div class="rk-note">

Registr obsahuje <strong><%= @libraries.count %></strong> Krameriů zpřístupňujících <strong><%= @documents_all %></strong> dokumentů (z toho <strong><%= @documents_public %></strong> veřejných).

</div>

<table style="min-width:1100px;">
  <thead>
    <tr>      
      <th></th>
      <th>Stav</th>
      <th class="rk-center">Klienti</th>
      <th>Název</th>
      <!--
      <th>Code</th>
      <th>Url</th>      
      <th>Email</th>-->
      <th>Verze</th>
      <th class="rk-center" colspan="2">Vybrané</th>
      <th class="rk-center" colspan="2">Dokumenty</th>
      <th class="rk-center" colspan="2">Stránky</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr class='<%= cycle("odd", "even") %>'>
        
         <td>
          <% if Rails.application.assets.find_asset("logo_#{library.code}.png") %>
          <%= image_tag("logo_#{library.code}.png", size: "20x20", alt: "logo") %>
          <% end %>
        </td>

        <td>
          <% if library.version && (library.version.start_with?("5.2") || library.version.start_with?("5.1.1")) %>
            <% if library.recommended_public.nil? || library.recommended_public == 0 || library.documents_public.nil? || library.documents_public == 0%>
              <%= image_tag("ic_ok_green.png", size: "16x16", alt: "OK") %>
            <% else %>
              <%= image_tag("ic_ok.png", size: "16x16", alt: "OK?") %>
            <% end %>
          <% else %>
            <%= image_tag("ic_not_ok.png", size: "16x16", alt: "NOT OK") %>
          <% end %>
        </td>

        <td>
          
          <% if library.k4_client %>
            <%= link_to "K4", library.k4_client_url, class: "rk-client-txt rk-yes" %>
          <% else %>
            <span class="rk-client-txt rk-no">K4</span>
          <% end %>

          <% if library.k5_client %>
            <%= link_to "K5", library.k5_client_url, class: "rk-client-txt rk-yes" %>
          <% else %>
            <span class="rk-client-txt rk-no">K5</span>
          <% end %>          

          <% if library.alt_client_url? %>
            <%= link_to "Alt", library.alt_client_url, class: "rk-client-txt rk-yes" %>
          <% elsif library.alt_client_universal? %>
            <%= link_to "Alt", library.alt_client_universal_url, class: "rk-client-txt rk-partial" %>
          <% else %>          
            <span class="rk-client-txt rk-no">Alt</span>
          <% end %>          

          <% if library.android == 1 %>
            <%= image_tag("ic_android_black.png", class: "rk-client-icon") %>            
          <% elsif library.android == 2 %>
            <%= image_tag("ic_android_gray.png", class: "rk-client-icon") %>            
          <% else %>
            <%= image_tag("ic_android_light.png", class: "rk-client-icon") %>            
          <% end %>

          <% if library.ios == 1 %>
            <%= image_tag("ic_ios_black.png", class: "rk-client-icon") %>            
          <% elsif library.ios == 2 %>
            <%= image_tag("ic_ios_gray.png", class: "rk-client-icon") %>            
          <% else %>
            <%= image_tag("ic_ios_light.png", class: "rk-client-icon") %>            
          <% end %>

        </td>        
       
        <td>
          <%= link_to library.name, library, style: "color:#000;" %>
        </td>
        <td class="<%= "rk-text-warn"  if library.version.nil? || !(library.version.start_with?("5.2") || library.version.start_with?("5.1.1")) %>">
          <%= library.version %>
        </td>
        
        <td class="rk-right <%= "rk-text-warn" if library.recommended_public.nil? || library.recommended_public == 0 %>">
        <strong><%= number_with_delimiter(library.recommended_public, delimiter: " ") || "?" %> </strong>
        </td>
        <td class="<%= "rk-text-warn" if library.recommended.nil? || library.recommended == 0 %>">          
          <%= number_with_delimiter(library.recommended, delimiter: " ") || "?" %>
        </td>
        <td class="rk-right <%= "rk-text-warn" if library.documents_public.nil? || library.documents_public == 0 %>">
          <strong><%= number_with_delimiter(library.documents_public, delimiter: " ") || "?" %> </strong>
        </td>
        <td class="<%= "rk-text-warn" if library.documents_all.nil? || library.documents_all == 0 %>">          
          <%= number_with_delimiter(library.documents_all, delimiter: " ") || "?" %>
        </td>


        <td class="rk-right <%= "rk-text-warn" if library.pages_public.nil? || library.pages_public == 0 %>">
          <strong><%= number_with_delimiter(library.pages_public, delimiter: " ") || "?" %> </strong>
        </td>
        <td class="<%= "rk-text-warn" if library.pages_all.nil? || library.pages_all == 0 %>">
          <%= number_with_delimiter(library.pages_all, delimiter: " ") || "?" %>
        </td>


        <td class="rk-right"><%= link_to 'Detail', library %></td>  
  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <% if logged_in? %>
    <div style="float:left;">
      <%= link_to 'Přidat Krameria', new_library_path %>
    </div>
  <% end %>
  <div style="float:right;">
    Posledni obnova <%= @last_update%>
  </div>
</div>