<div class="rk-list">

<div class="rk-note">
<span style="padding-top:8px;display:inline-block;">
Registr obsahuje <strong><%= @libraries.count %></strong> Krameriů zpřístupňujících <strong><%= @documents_all %></strong> dokumentů (z toho <strong><%= @documents_public %></strong> veřejných).
</span>
<div class="btn-group pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Seřadit <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><%= link_to "Základní seřazení", libraries_path %></li>
    <li><%= link_to "Podle názvu", libraries_path(sort: "name") %></li>
    <li><%= link_to "Podle verze", libraries_path(sort: "version DESC") %></li>
    <li><%= link_to "Podle dostupnosti na Androidu", libraries_path(sort: "android DESC") %></li>
    <li><%= link_to "Podle dostupnosti na iOS", libraries_path(sort: "ios DESC") %></li>
    <li><%= link_to "Podle počtu dokumentů", libraries_path(sort: "documents_all DESC") %></li>
    <li><%= link_to "Podle počtu veřejných dokumentů", libraries_path(sort: "documents_public DESC") %></li>
    <li><%= link_to "Podle počtu stran", libraries_path(sort: "pages_all DESC") %></li>
    <li><%= link_to "Podle počtu veřejných stran", libraries_path(sort: "pages_public DESC") %></li>
    <li><%= link_to "Podle počtu vybraných", libraries_path(sort: "recommended DESC") %></li>
    <li><%= link_to "Podle počtu veřejných vybraných", libraries_path(sort: "recommended_public DESC") %></li>
  </ul>
</div>


</div>

<div class="kr-table-wrapper">
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th class="rk-center">Klienti</th>
      <th>Název</th>
      <th>Kód</th>
      <th>Sigla</th>
      <th>Verze</th>
      <th>Kramerius</th>
      <th>Uživatelské rozhraní</th>
      <th class="rk-center" colspan="1">Vybrané</th>
      <th class="rk-center" colspan="1">Dokumenty</th>
      <th class="rk-center" colspan="1">Stránky</th>
      <th class="rk-center" colspan="1">Knihy</th>
      <th class="rk-center" colspan="1">Periodika</th>
      <th class="rk-center" colspan="1">Mapy</th>
      <th class="rk-center" colspan="1">Grafiky</th>
      <th class="rk-center" colspan="1">Nahrávky</th>
      <th class="rk-center" colspan="1">Archiválie</th>
      <th class="rk-center" colspan="1">Hudebniny</th>
      <th class="rk-center" colspan="1">Rukopisy</th>
      <th class="rk-center" colspan="1">Články</th>
      <th>Sbírky</th>
      <th>Poslední přírustek</th>
      <th>OAI Provider</th>
      <th>HTTPS</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr class='<%= cycle("odd", "even") %>'>

      <td class="kr-logo">
        <%= image_tag library.logo.url(:thumb), size: "20x20"%>
      </td>

        <td class="kr-alive-wrapper">
          <div class="kr-alive <%= library.alive ? "kr-alive-yes" : "kr-alive-no" %>"></div>
        </td>
        <td>

          <% if library.k4_client %>
            <%= link_to "K", library.k4_client_url, class: "rk-client-txt rk-yes" %>
          <% else %>
            <span class="rk-client-txt rk-no">K4</span>
          <% end %>

          <% unless library.new_client_url.blank? %>
            <%= link_to "UI", library.new_client_url, class: "rk-client-txt rk-yes" %>
          <% else %>
            <span class="rk-client-txt rk-no">UI</span>
          <% end %>

          <% if library.alt_client_universal? %>
            <%= link_to "DK", library.alt_client_universal_url, class: "rk-client-txt rk-yes" %>
          <% else %>
            <span class="rk-client-txt rk-no">Alt</span>
          <% end %>

          <% if library.android == 2 %>
            <%= image_tag("ic_android_black.png", class: "rk-client-icon") %>
          <% elsif library.android == 1 %>
            <%= image_tag("ic_android_gray.png", class: "rk-client-icon") %>
          <% else %>
            <%= image_tag("ic_android_light.png", class: "rk-client-icon") %>
          <% end %>

          <% if library.ios == 2 %>
            <%= image_tag("ic_ios_black.png", class: "rk-client-icon") %>
          <% elsif library.ios == 1 %>
            <%= image_tag("ic_ios_gray.png", class: "rk-client-icon") %>
          <% else %>
            <%= image_tag("ic_ios_light.png", class: "rk-client-icon") %>
          <% end %>

        </td>

        <td>
          <%= link_to library.name, library, style: "color:#000;" %>
        </td>
        <td>
          <%= library.code %>
        </td>
        <td>
          <%= library.sigla %>
        </td>
        <td class="<%= "rk-text-warn" if library.integer_version < 511 %>">
          <%= library.version %>
        </td>


        <td>
          <% unless library.url.blank? %>
            <%= link_to library.url, library.url, class: "" %>
          <% end %>
        </td>


        <td>
          <% unless library.new_client_url.blank? %>
            <%= link_to library.new_client_url, library.new_client_url, class: "" %>
          <% end %>
        </td>




        <td class="rk-center <%= "rk-text-warn" if library.recommended_public.nil? || library.recommended_public == 0 %>">
          <strong><%= number_with_delimiter(library.recommended_public, delimiter: " ") || "?" %> </strong>
          |
          <%= number_with_delimiter(library.recommended, delimiter: " ") || "?" %>
        </td>
   

        <td class="rk-center <%= "rk-text-warn" if library.documents_public.nil? || library.documents_public == 0 %>">
          <strong><%= number_with_delimiter(library.documents_public, delimiter: " ") || "?" %> </strong>
          |
          <%= number_with_delimiter(library.documents_all, delimiter: " ") || "?" %>
        </td>



        <td class="rk-center <%= "rk-text-warn" if library.pages_public.nil? || library.pages_public == 0 %>">
          <strong><%= number_with_delimiter(library.pages_public, delimiter: " ") || "?" %> </strong>
          |
          <%= number_with_delimiter(library.pages_all, delimiter: " ") || "?" %>
        </td>

        <% ["monograph", "periodical", "map", "graphic", "soundrecording", "archive", "sheetmusic", "manuscript", "article"].each do |model| %>
          <td class="rk-center <%= "rk-text-gray" if library["model_#{model}_public"] == 0 %> <%= "rk-text-warn" if library["model_#{model}_public"].nil? %>">
            <strong><%= number_with_delimiter(library["model_#{model}_public"], delimiter: " ") || "?" %> </strong>
            |
            <%= number_with_delimiter(library["model_#{model}_all"], delimiter: " ") || "?" %>
          </td>       
        <% end %>




        <td class="<%= "rk-text-gray" if library.collections == 0 %>">
          <%= number_with_delimiter(library.collections, delimiter: " ") || "?" %>
        </td>

        <td>
          <% unless library.last_document_at.nil? %>
          <%= library.last_document_at.strftime("%d.%m.%Y %M:%M") %> <strong class="rk-text-accent"><%= (Time.now.to_date - library.last_document_at.to_date).to_i %></rk-text-accent>
          <% end %>
        </td>

        <td>
          <% unless library.oai_provider.blank? %>
            <%= link_to library.oai_provider, library.oai_provider, class: "" %>
          <% end %>
        </td>

        <td>
          <div class="kr-https <%= library.url && library.url.start_with?("https") ? "kr-https-yes" : "kr-https-no" %>"></div>
        </td>

        <td class="rk-right"><%= link_to 'Detail', library %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

  <% if logged_in? %>
    <div style="float:left;">
      <%= link_to 'Přidat Krameria', new_library_path %>
    </div>
  <% end %>
  <div style="float:right;">
    Posledni obnova <%= @last_update.in_time_zone("Prague").strftime('%d.%m.%Y %H:%M:%S') if @last_update %>
  </div>
</div>
