<% provide(:title, @library.name) %>

<div class="rk-detail">

	<div class="rk-header">
		<% if @library.logo? %>
			<div class="rk-icon">
				<%= image_tag @library.logo.url(:medium), size: "55x55"%>
			</div>
		<% end %>
		<div>
			<div class="rk-name">
				<%= @library.name %>
			</div>
			<div class="rk-url">
				<a href="<%= @library.k4_client_url %>"><%= @library.k4_client_url %></a>
			</div>
		</div>
	</div>

<p>
  <strong>Název:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @library.code %>
</p>

<p>
  <strong>K4 klient:</strong>
  <% if @library.k4_client_url %>
    <%= link_to @library.k4_client_url, @library.k4_client_url %>
  <% end %>
</p>
<p>
  <strong>K5 klient:</strong>
  <% if @library.k5_client_url %>
    <%= link_to @library.k5_client_url, @library.k5_client_url %>
  <% end %>
</p>

<!--
<p>
  <strong>Alternativní klient:</strong>
  <% if @library.alt_client_url %>
    <%= link_to @library.alt_client_url, @library.alt_client_url %>
  <% end %>
</p>
-->
<p>
  <strong>Digitální knihovna</strong>
  <% if @library.alt_client_universal_url %>
    <%= link_to @library.alt_client_universal_url, @library.alt_client_universal_url %>
  <% end %>
</p>

<p>
  <strong>Android:</strong>
  <% if @library.android == 0 %>
    NE
  <% elsif @library.android == 2 %>
    ANO
  <% elsif @library.android == 1 %>
    Připraven
  <% end %>
</p>

<p>
  <strong>iOS:</strong>
  <% if @library.ios == 0 %>
    NE
  <% elsif @library.ios == 2 %>
    ANO
  <% elsif @library.ios == 1 %>
    Připraven
  <% end %>
</p>

<p>
  <strong>Verze:</strong>
  <%= @library.version %>
</p>
<p>
  <strong>Vybrané (veřejné/všechny):</strong>
  <td><%= "#{number_with_delimiter(@library.recommended_public, delimiter: " ")}/#{number_with_delimiter(@library.recommended, delimiter: " ")}" %></td>
</p>
<p>
  <strong>Počet dokumentů (veřejné/všechny):</strong>
  <td><%= "#{number_with_delimiter(@library.documents_public, delimiter: " ")}/#{number_with_delimiter(@library.documents_all, delimiter: " ")}" %></td>
</p>
<p>
  <strong>Počet stran (veřejné/všechny):</strong>
  <td><%= "#{number_with_delimiter(@library.pages_public, delimiter: " ")}/#{number_with_delimiter(@library.pages_all, delimiter: " ")}" %></td>
</p>


<p>
  <strong>Email:</strong>
  <%= @library.email %>
</p>
<p>
  <strong>PDF Max Range:</strong>
  <%= @library.pdf_max %>
</p>

<strong>Intro:</strong>
<div class="rk-box" style="margin-top:5px;margin-bottom:20px;">
  <%= @library.intro.html_safe if @library.intro %>
</p>
</div>

<strong>Right Message:</strong>
<div class="rk-box" style="margin-top:5px;margin-bottom:20px;">
  <%= @library.right_msg.html_safe if @library.right_msg %>
</div>


<% if logged_in? %>
	<%= link_to 'Upravit', edit_library_path(@library) %> |
	<%= link_to 'Smazat', @library, method: :delete, data: { confirm: 'Opravdu chcete knihovnu smazat?' } %> |
	<%= link_to 'Obnovit', "/feeder/#{@library.code}" %>
<% end %>

</div>
